  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.close('close')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" name="title" class="form-control" id="recipient-name" [value]="complaints.title" [(ngModel)]="complaints.title" >
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" [(ngModel)]="complaints.description" id="message-text" name="description"[value]="complaints.description" ></textarea>
            </div>
            <div class="mb-3">
                <label for="status" class="col-form-label">Status:</label>
                <input [(ngModel)]="complaints.status" type="text" class="form-control" id="status"  name="status"[value]="complaints.status" disabled>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.close('close')">Close</button>
          <button type="button" class="btn btn-primary" (click)="SaveChanges()">Save Changes</button>
        </div>
      </div>
    </div>
 